.modal-kickoff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modal-text {
  text-align: center;
  margin: 15px 0 15px 0;
}

.ant-input {
  font-size: 17px;
}