@import "antd/dist/antd.css";

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}

[data-theme="dark"] .gutter-box {
  background: #028ac8;
}

.rep-photo {
  height: 175px;
  width: 200px;
  background-size: 100%;

}

.rep-title {
  text-transform: capitalize;
  text-align: center;
  width: 200px;
  word-wrap: break-word;
}